* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    background-image      : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1127%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c383 C 96%2c346 288%2c204.4 480%2c198 C 672%2c191.6 768%2c378.4 960%2c351 C 1152%2c323.6 1344%2c119 1440%2c61L1440 800L0 800z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c666 C 144%2c616 432%2c399 720%2c416 C 1008%2c433 1296%2c684 1440%2c751L1440 800L0 800z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1127'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

.respuestas {
    background-color: #1E1E1E;
    color           : aliceblue;
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    padding         : 2rem;
    border-radius   : 10px;
}

.controls {
    width        : 100%;
    background   : #24303c;
    padding      : 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top   : 10px;
    border       : 1px solid #1f53c5;
    font-family  : 'calibri';
    font-size    : 18px;
    color        : white;
}

.form {
    width        : 400px;
    background   : #24303c;
    padding      : 30px;
    margin       : auto;
    margin-top   : 55px;
    border-radius: 4px;
    font-family  : 'calibri';
    color        : white;
    box-shadow   : 7px 13px 37px #000;

}

.form .boton {
    width       : 100%;
    color       : #318aac !important;
    font-size   : 20px;
    font-weight : 500;
    padding     : 0.5em 1.2em;
    background  : rgba(0, 0, 0, 0);
    border      : 2px solid;
    border-color: #318aac;
    transition  : all 1s ease;
    position    : relative;
}

.boton:hover {
    background: #318aac;
    color     : #fff !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance   : none;
    -ms-appearance    : none;
    appearance        : none;
    outline           : 0;
    box-shadow        : none;
    border            : 0 !important;
    background        : #19222A;
    background-image  : none;
    flex              : 1;
    padding           : 0 .5em;
    color             : #fff;
    cursor            : pointer;
    font-size         : 1em;
    font-family       : 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position     : relative;
    display      : flex;
    height       : 3em;
    line-height  : 3;
    background   : #5c6664;
    overflow     : hidden;
    border-radius: .25em;
    margin-bottom: 1rem;
}

.select::after {
    content       : '\25BC';
    position      : absolute;
    top           : 0;
    right         : 0;
    padding       : 0 1em;
    background    : #2b2e2e;
    cursor        : pointer;
    pointer-events: none;
    transition    : .25s all ease;
}

.select:hover::after {
    color: #23b499;
}

h1 {
    margin-bottom: 1rem;
}

.enc {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap                  : 100px;
    padding              : 2rem;
    color                : #fff;

}

.resp {
    background-color: #24303c;
    padding         : 1rem;
    border-radius   : 4px;

}

p {
    border-bottom : 2px solid #fff;
    margin-bottom : 1rem;
    padding-bottom: 1rem
}